@charset "UTF-8";
/* CSS Document */

.container{
	height: 100%;
	width: 100%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:lighter;
}

.input{
	margin-top: 10%;
	text-align:center;
}

#input{
	width: 600px;
	height: 50px;
	border-radius: 5px;
	border:thin solid rgba(51,51,51,1);
	margin: 15px;
	font-size:36px;
	text-indent:50px;
	background-image:url(hashtag-icon-whosevent.png);
	background-position:left;
	background-repeat:no-repeat;
	text-align:left;
}

.photos{
}

.images{
	margin: 10%;
	min-width: 918px;
	text-align:center;
}

.overlay{
	opacity:0;
	-webkit-transition: 0.5s ease-in-out;
	position: absolute;
	background:rgba(0,0,0,0.65);
	width: 306px;
	height: 306px;
	margin-left: -306px;
}

.overlay:hover{
	opacity:1;
	display:table-caption;
	
}



h3{
	font-size:15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:rgba(255,255,255,1);
	margin:5px;
}

a{
	text-decoration: none;
}